*
{
    box-sizing: border-box;
}

body{
    background-color: #202020;
    font-size: large;

}

.header{
    display: flex;
}

.header_left{
    float: left;
}

 .ytlogo{
    
    position: absolute;
    top: -10px;
    width: 120px;
    height: 79px;       
} 

.head_centre{
   
    margin: auto;
    
}